* {
    font-family: cursive;
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    
}

body,html {
    height: 100%;
    background-color: #b3e5fc;
}

.container {
    width: 80%;
    margin:0 auto;

}

.nav-color {
    background-color: #00acc1;

}

.nav {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.navlink {
    color:white;
    text-decoration: none;
    transition: all 0.3s;
    padding-bottom: 5px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.navlink:hover{
    color: #b3e5fc;
    border-bottom: 3px solid #b3e5fc;
    opacity: 0,6;
    font-weight: bold;
    float: right;
    margin: 15px;
}

.main {
    height: 600px;
    padding-top: 100px;
}

.main-header {
    font-size: 130px;
    font-weight: bold;
    text-align: center;
    color: #e0f7fa;
    text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;
}

.quote {
    width: 1030px;
    height: 100px;
    line-height: 0px;
    color: transparent;
    font-size: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-family: fantasy;
    text-align: center;
}

.quote:hover {
    line-height: 100px;
    color: #575858;
    font-size: 30px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}


.card-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-image {
    height: 100px;
    width: 200px;
    margin: 0 auto;
    margin: 20px;
    border: 5px solid #eee;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
}

.card-image:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}

.card-item{
    border: purple 2px solid;
    border-style: dashed;
    border-radius: 20px;
    width: 45%;
    margin: 20px 0px;
    padding:20px;
    display: flex;
    justify-content: center;
}

.card-description{
    text-align: center;
}

@media (max-width: 800px) {
    .nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 20px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        padding: 0;
    }
}

@media (max-width: 1770px) {
    .card-image {
        width: 100%;
        height: auto;
    }
}

@media (max-width:900px) {
    .card-item {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .quote {
        width: 100%;
        height: auto;
    }
}


  




















