* {

}

.container {
    width: 80%;
    margin:0 auto;

}

.card-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.card-item{
    border: purple 2px solid;
    border-style: dashed;
    border-radius: 20px;
    width: 45%;
    margin: 20px 0px;
    padding:20px;
    display: flex;
    justify-content: center;
}

.card-description{
    text-align: center;
}

.quote {
    width: 1030px;
    height: 100px;
    line-height: 0px;
    color: transparent;
    font-size: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-family: fantasy;
    text-align: center;
}

.quote:hover {
    line-height: 100px;
    color: #575858;
    font-size: 30px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.main {
    height: 600px;
    padding-top: 100px;
}

.main-header {
    font-size: 130px;
    font-weight: bold;
    text-align: center;
    color: #e0f7fa;
    text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;
}
