* {
    color: black;
}

.blue1 {
    color: black;
    font-weight: bold;
    font-family: fantasy; 
    background-color: #217CF5;
    text-decoration: underline;
}

.bluecolor {
    color: black;
    font-weight: bold;
    font-family: fantasy; 
    background-color: #7caeef;
}

.lightblue {
    color: black;
    font-weight: bold;
    font-family: fantasy; 
    background-color:#9ec1ef; 
}

.redcolor {
    color: black;
    font-weight: bold;
    font-family: cursive;
    background-color: #CF0F1A;
    text-decoration: underline;
}

.red {
    color: black;
    font-weight: bold;
    font-family: cursive;
    background-color: #cc474e;
    font-size: 21px;
}

.lightred {
    color: black;
    font-weight: bold;
    font-family: cursive;
    background-color: #e2888c;
}

.yellow {
    color: black;
    font-weight: bold, italic;
    font-family: monospace;
    background-color: #ffee2e;
    font-size: 25px;
    text-decoration: underline;
}

.yellowcolor {
    color: black;
    font-weight: bold;
    font-style:italic;
    font-family: monospace;
    background-color: #fcef64;
    font-size:20px;
}

.ycolor {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
    background-color: #f9f19a;
    font-size: 20px;
}

.lightyellow {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
    background-color: #f9f5c5;
    font-size: 20px;
}

img {
    opacity: 0.9;
    align-content: center;
    height: 300px;
    width: 50%;
}

body {
    background-color: #e0e0e0
}

.navigation {
    background-color: blue;
}

.unorderedlist {
    display: flex;
    list-style-type: none;
    width: 1000px;
    height: 50px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    align-content: center;
}

.nav-list {
    font-size: 30px;
    font-weight: bold;
    font-family: "arial";
    margin: auto;
}

.nav-link, .nav-link:visited {
    text-decoration: none;
    transition: 0.2s;
    color:white;
}

.nav-link:hover {
   opacity:0.6;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.pokemoninfo {
    height: 350px;
    align-content: center;
    width: 100%;

}

.card-item{
    border: #217CF5;
    border-style: dashed;
    border-radius: 25px;
    width: 50%;
    padding: 20px;
    margin: 20px 5px;
    justify-content: center;
    display: flex;
    
}

.description{
    font: 30px;
    font-weight: bold;
    font-family: "Arial Narrow";
}