* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

html, body {

}



.parent {
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.justify-content {
    grid-row: 1 / 2;
    grid-column: 7 / 8;
    background-color: #2196f3;
}

.flex-wrap {
    grid-row: 1 / 2;
    grid-column: 8 / 9;
    background-color: #2196f3;
}

.flex-box {
    grid-row: 2 / 3;
    grid-column: 3 / 6;
    background-color: #2196f3;
}

.Fcontainer {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
    background-color: #2196f3;
}

.flex-items {
    grid-row: 2 / 3;
    grid-column: 7 / 8;
}

.direction {
    grid-row: 2 / 3;
    grid-column: 8 / 9;
}

.align-items {
    grid-row: 3 / 4;
    grid-column: 7 / 8; 
}

.design {
    grid-row: 4 / 5;
    grid-column: 5 / 8;
}

.Media {
    grid-row:5 / 6;
    grid-column: 5 / 6;
}

.resizing {
    grid-row: 5 / 6;
    grid-column: 6 / 7;
}

.grid {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.Gcontainer {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.griditems {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.grid-template-columns {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

.grid-template-rows {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

.grid-columns {
    grid-row: 7 / 8;
    grid-columns: 1 / 2;
}

.grid-row {
    grid-row: 7 / 8;
    grid-columns: 2 / 3;
}