.progress-bar {
    width: 100%;
    height: 2em;
    border: 2px black solid;
    border-radius: 0.5em;
}

.progress-content {
    height: 100%;
    width: 0%;
    background-color: #1270bd;
    color: white;
    transition: all 1s;
}